@charset 'utf-8';
@font-face {
  font-family: "SCDream1";
  src: url(../Data/S-Core_Dream/SCDream1.otf);
}
@font-face {
  font-family: "SCDream3";
  src: url(../Data/S-Core_Dream/SCDream3.otf);
}
@font-face {
  font-family: "SCDream9";
  src: url(../Data/S-Core_Dream/SCDream9.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Squada+One&display=swap");
/* 
.portfoUl {
  width: auto;
  overflow-x: scroll;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.PortfoLi {
  position: relative;
  min-width: 100%;
  width: 100%;
  margin-right: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}
.portfoImgBox {
  display: inline-block;
  width: 48%;
  height: 420px;
  float: left;
  margin-right: 4%;
  background-color: black;
}
.portfoInfo {
  display: inline-block;
  position: absolute;
  bottom: 3rem;
  width: 48%;
}
.titleWrap {
  width: 100%;
}
.title {
  font-size: 7rem;
  font-family: "Squada One", "cursive";
  font-weight: 400;
  margin: 0 0 8px 0;
  line-height: 4.4rem;
  color: #bbbbbb;
}
.subtitle {
  font-family: "SCDream1", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #ff75a3;
  margin: 0 0 3rem 0;
}
.infoWrap {
  width: 100%;
}
.info {
  width: 80%;
  height: 70px;
  margin-bottom: 1.5rem;
  color: #ffffff80;
}
.skill {
  display: flex;
  font-family: "SCDream1", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  color: #ffffff80;
}
.skill span {
  margin-right: 0.8rem;
} */
