@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Squada+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  background-color: #111;
}

.header__wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #111;
}
.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}
.cursor2 {
  position: fixed;
  width: 4px;
  height: 4px;
  background-color: #2966ff;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
}

/* .section__header:hover ~ .cursor {
  transform: scale(1.5);
  background-color: #c6c6c6;
  opacity: 0.5;
} */

.section__header:hover ~ .cursor2 {
  /* opacity: 0; */
}

.section__header {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header__top {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__ul {
  max-width: 340px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ul li {
  position: relative;
  transition: color 0.4s linear;
}

.header__ul li a {
  padding: 0.4rem 1.4rem;
  text-decoration: none;
  font-family: Noto Sans KR, sans-serif;
  font-size: 1.2rem;
  line-height: 1.9;
  color: #777;
  font-weight: 300;
  white-space: pre-line;
  /* z-index: 99; */
}

.header__ul li a:hover {
  /* color: #111; */
  color: red;
}
.header__ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.33, 0.78, 0.41, 1);
  transform: scaleY(0);

  /* z-index: -1; */
}
.header__ul li a:hover::before {
  transform: scaleY(1);
}

/* 여기 */

.main__nav {
  position: relative;
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: red; */
}
.line {
  position: absolute;
  top: 0;
  /* height: 65vh; */
  height: 100%;
  width: 1px;
  left: 50%;

  background-color: #fff;
  opacity: 0.1;
}

.main__nav__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  /* background-color: blue; */
}

.nav__btn {
  font-family: "Squada One", cursive;
  font-size: 200px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0.8;
  text-transform: uppercase;
  color: #bbbbbb;
  cursor: none;
  transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
}
.nav__btn:hover,
.nav__btn:focus {
  color: #fff;
  letter-spacing: 18px;
}

.name__box {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: blue;
}
.toy__button {
  font-family: Squada One, sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 54px;
  padding: 0 0.2em;
  bottom: 60px;
  color: #777;
  border-bottom: 1px solid #2966ff;
  line-height: 1.2;
  cursor: none;
  /* background-color: yellow; */
}

.button__back__box {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.back__box {
  width: 300px;
  height: 100%;
  background-color: #222e3e;
}
