@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Squada+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
  }
}
