@charset 'utf-8';
@font-face {
  font-family: "SCDream1";
  src: url(../Data/S-Core_Dream/SCDream1.otf);
}
@font-face {
  font-family: "SCDream3";
  src: url(../Data/S-Core_Dream/SCDream3.otf);
}
@font-face {
  font-family: "SCDream9";
  src: url(../Data/S-Core_Dream/SCDream9.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Squada+One&display=swap");

.mainWrap {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;

  background-color: #111;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line span {
  height: 65vh;
  width: 1px;
  background-color: #fff;
  opacity: 0.1;
}

@media (min-width: 1281px) {
  * {
    cursor: none;
  }
}
