@charset 'utf-8';
.section {
  position: relative;
  width: 100vw;
  height: 64vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mainNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.mainNavWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  opacity: 0;
  animation-name: opacityEffect;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.33, 0.78, 0.41, 1);
}
@keyframes opacityEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.MainBtn {
  font-size: 6rem;
  font-family: "Squada One", cursive;
  font-weight: 400;
  letter-spacing: 0;
  color: #bbbbbb;
  white-space: nowrap;
  text-decoration: none;
  transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
  cursor: none;
  line-height: 1;
}
.backBoxs {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}
.backBox {
  width: 36%;
  height: 60%;
  background-color: #181d2b;
  animation-name: scaleEffect;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.33, 0.78, 0.41, 1);
  z-index: 0;
}
@keyframes scaleEffect {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 66%;
    height: 60vh;
    padding: 126px 0 0 40px;

    float: right;
  }
  .mainNav {
    display: block;
    justify-content: left;
    align-items: stretch;
  }
  .mainNavWrap {
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .btn {
    justify-content: start;
    align-items: center;
    font-size: 120px;
    padding: 0;
    font-family: "Squada One", cursive;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0;
    color: #bbbbbb;
  }
  .MainBtn {
    font-size: 7.5rem;
  }
  .backBoxs {
    display: none;
  }
}

@media screen and (min-width: 958px) {
  .MainBtn {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1025px) {
  .MainBtn {
    transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
  }
  .MainBtn__1 {
    transform: translate(-50%, 0);
  }
  .MainBtn__3 {
    transform: translate(50%, 0);
  }

  .section {
    clear: both;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  .mainNav {
    padding: 0;
    position: relative;
    width: 100%;
    height: 64vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainNavWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 10;
  }
  .btn {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
    cursor: none;
  }
  .MainBtn {
    font-size: 13rem;
  }
  .MainBtn:hover,
  .MainBtn:focus {
    cursor: none;
    font-size: 14rem;
    color: #fff;
    letter-spacing: 0.9rem;
  }
  .backBoxs {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .backBox {
    width: 600px;
    height: 100%;
    animation-name: scaleEffect;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.33, 0.78, 0.41, 1);
  }
  @keyframes scaleEffect {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .backBox:nth-child(1) {
    transform: translate(-50%, 0);
  }
  .backBox:nth-child(2) {
    transform: translate(50%, 0);
  }
}

@media screen and (min-width: 1281px) {
  .cursor {
    display: block;
    visibility: visible;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s ease;
    z-index: 9999;
  }
  .cursor2 {
    display: block;
    visibility: visible;
    position: fixed;
    width: 4px;
    height: 4px;
    background-color: #2966ff20;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
    z-index: 9999;
  }
  .section {
    cursor: none;
  }
}
