@charset 'utf-8';
@font-face {
  font-family: "SCDream1";
  src: url(../Data/S-Core_Dream/SCDream1.otf);
}
@font-face {
  font-family: "SCDream3";
  src: url(../Data/S-Core_Dream/SCDream3.otf);
}
@font-face {
  font-family: "SCDream9";
  src: url(../Data/S-Core_Dream/SCDream9.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Squada+One&display=swap");

@media screen and (min-width: 1025px) {
  .MainBtn {
    transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 1s;
  }
  .MainBtn__1 {
    transform: translate(-50%, 0);
  }
  .MainBtn__3 {
    transform: translate(50%, 0);
  }
}
