.open {
  visibility: visible !important;
  display: block !important;
  /* opacity: 1 !important; */
  top: 60px !important;
  position: absolute !important;

  animation: ani;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.33, 0.78, 0.41, 1) 300ms;
  transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 500ms;

  z-index: 999;
}

@keyframes ani {
  0% {
    transform: translate(100%, -4px);
    opacity: 0 !important;
  }
  100% {
    transform: translate(0%, -4px);
    opacity: 1 !important;
  }
}

.menuBtn {
  outline: none !important;
  transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 500ms !important;
}

.openBtn span:nth-child(2) {
  transform: translateX(-50px) !important;
  opacity: 0 !important;
  visibility: hidden !important;
  outline: none !important;
}

.openBtn span:nth-child(1) {
  /* transform: rotate(45deg) translate(35px, -35px) !important; */
  transform: rotate(45deg) translate(6px, 8px) !important;
}
.openBtn span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -8px) !important;
}

@media (min-width: 1024px) {
  .open {
    visibility: visible !important;
    opacity: 1 !important;
    top: 40px !important;

    animation: none;
    /* visibility: visible;
    opacity: 1;
    top: 60px; */
  }

  .menuBtn {
    outline: none !important;
    transition: all cubic-bezier(0.33, 0.78, 0.41, 1) 500ms !important;
  }

  .openBtn span:nth-child(2) {
    transform: translateX(-50px) !important;
    opacity: 0 !important;
    visibility: hidden !important;
    outline: none !important;
  }

  .openBtn span:nth-child(1) {
    /* transform: rotate(45deg) translate(35px, -35px) !important; */
    transform: rotate(45deg) translate(6px, 8px) !important;
  }
  .openBtn span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -8px) !important;
  }
}
